<h1>{{ name() }}</h1>

<dl>
  <td>Name:</td>
  <dd>{{ name() }}</dd>

  <td>Age:</td>
  <dd>{{ age() }}</dd>

  <td>Description:</td>
  <dd>{{ heroDescription() }}</dd>

  <td>Uppercase Readonly Signal:</td>
  <dd> {{ capitalizeName() }} </dd>

  <td>Uppercase with Pipe:</td>
  <dd> {{ this.name() | uppercase }} </dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Change hero
</button>

<button (click)="changeAge()" class="btn btn-primary">
  Change age
</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">
  Reset
</button>
